@import url("https://fonts.googleapis.com/css2?family=Fira+Code");

* {
  /* margin: 0; */
  padding: 0;
  font-family: "Fira Code", sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  background-image: url(challenge.jpg);
  text-align: center;
  align-items: center;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

body imagem {
  width: 200px;
  height: 300px;
}


.titulo {
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  color: aliceblue;
}


.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.form-box {
  padding: 20px;
  margin: 0 30px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: lightblue;
  border-radius: 1em;
  width: 50vw;
  height: auto;
}

.msg-box {
  padding: 20px;
  margin: auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: lightblue;
  border-radius: 1em;
  width: 50vw;
  height: auto;
}

.btn {
  border: 0;
  margin: 5px;
  color: white;
  font-weight: bold;
  background-color: rgb(23, 46, 122);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 2px solid rgb(10, 10, 10);
  margin-top: flex;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 2em;
  width: 30vw;
  height: auto;
}

.text-input2 {
  border-radius: 0.5em;
  border: 2px solid rgb(10, 10, 10);
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 30vw;
  height: auto;
}

.rodape {
  background-color: lightblue;
  position: relative;
  width: 1340px;
  height: 90px;
  display: inline-block;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 40%;
  bottom: 0%;

}

li, social-media {
  display: inline-block;
  font-size: 30px;
  position: relative;
  margin-bottom: 5px;
  bottom: 0%;
}

ul, footer {
  margin: 0px;
}

.texto-rodape {
  font-size: 1em;
  position: relative;
  color: black;
  margin-bottom: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 0px;
}
  